/*-------------------------------
|  Primary
-------------------------------*/
$purple: #68246d;
$yellow: #ffd53a;
$cyan: #00aeef;
$red: #be1e2d;
$gold: #afa961;

/*-------------------------------
|  Secondary
-------------------------------*/
$heather: #cba8b1;
$stone: #dacda2;
$sky: #a5c8d0;
$cedar: #b6aaa7;
$concrete: #b3bdb1;

/*-------------------------------
|  Text
-------------------------------*/
$ink: #002a41;
$black: #333132;
