body {
    background-color: #fff;
    color: $ink;
}

$width: 100vw;
main {
    background-color: #fff;
    box-shadow: -6px 0 6px rgba(0,0,0,0.2);
    height: 6000px;
    width: $width;
    margin-left: auto;
    position: relative;
    z-index: 10;
    .inner {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.05);
        max-width: 768px;
        margin: 0 auto;
    }
}
aside {
    background-color: $black;
    color: #fff;
    position: fixed;
    top:0;
    left:0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    width: $width;
}

body.menu-open {
    aside {
        z-index: 15;
        transform: translateY(0%);
    }
}

body.menu-closed {
    aside {
        z-index: 15;
        transform: translateY(100%);
    }
}

@media screen and (min-width: 768px) {
    $width: 66vw;
    aside {
        width: calc(100vw - $width);
        max-width: 440px;
        min-width: 300px;
        z-index: 0;
        transform: translateY(0%);
        transition: unset;
    }
    main {
        width: max(calc(100vw - 440px), $width);
    }
}

@media screen and (min-width: 1500px) {
    main {
        .inner {
            max-width: 1280px;
        }
    }
}